
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #D2691E ;

}

/* Style the topnav links */
.topnav a {
  padding: 0;
  margin: 0;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 70%; 
  color:#00BFFF;
}
p1{
   font-size: 21px;

}
p2{
   font-size: 21px;
}
h1{
font-size: 40px;

}

h4{
font-size: 100px;
text-align: center;
color:#FF4500 ;
}

/* Style the content2 */
.content2 {
  background-color: #ddd;
  padding: 10px;
  height: 80%;
  color:#00BFFF;
}
h5{
text-align: center;
font-size: 40px;
}
h6{
font-size: 30px;
text-align: center;
}
p3{
font-size: 20px;
text-align: center;
}
h7{
font-size: 30px;
text-align: center;
}
p4{
font-size: 20px;
text-align: center;
}
h8{
font-size: 30px;
text-align: center;
}
p5{
font-size: 20px;
text-align: center;
}

/* Style the content3 */
.content3 {
  background-color: #ddd;
  padding: 10px;
  height: 80%; 
  color:#00BFFF;
}


/* Style the footer */
.footer {
  background-color: #20B2AA;
  padding: 1%;
}	
.background1{
width:100%;
}

.writer-img {
   -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 50, 0.97);
   -moz-box-shadow: 1px 0px 1px 0px rgba(0, 0, 50, 0.97);
   box-shadow: 1px 0px 1px 0px rgba(0, 0, 50, 0.97);
   float: right;
   width: 100px;
   background-color: #ddd;
}
h2{
   color:#BA55D3;
   background-color: #ddd;
   float: right;
}
.imgblock img{

float: right;


}
.mapblock{
margin-top: 70px;

 float: right;
} 










@media (max-width: 320px) {

.imgblock{
width: 100%;
}

.content {
	width: 100%;
}
.content2 {
	width: 100%;
	
}
.content3 {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.topnav {
	width: 80%;
	margin-left: 0px;
}
.content {
	width: 100%;
}
.content2 {
	width: 100%;
	margin-top: 0px;
}
.content3 {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.topnav {
	width: 80%;
	margin-left: 0px;
}
.content {
	width: 100%;
}
.content2 {
	width: 100%;
	margin-top: 0px;
}
.content3 {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}




